In [3]:
pip install  -r  requirements.txt

Requirement already satisfied: tensorflow==2.15.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: pandas in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 2)) (2.3.3)
Requirement already satisfied: numpy in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 3)) (1.23.5)
Requirement already satisfied: scikit-learn in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 4)) (1.7.2)
Requirement already satisfied: tensorboard in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 5)) (2.15.2)
Requirement already satisfied: matplotlib in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 6)) (3.10.8)
Requirement already satisfied: streamlit in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from -r requirements.txt (line 7)) (1.52.2)
Requirement already satisfied: tensorflow-intel==2.15.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow==2.15.0->-r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (25.12.19)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (3.15.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.2.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (3.4.0)
Requirement already satisfied: packaging in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (4.25.8)
Requirement already satisfied: setuptools in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (80.9.0)
Requirement already satisfied: six>=1.12.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (4.15.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.14.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.74.0)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (2.46.0)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.10)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (2.32.5)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.1.4)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (6.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (2.6.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (2026.1.4)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from rsa<5,>=3.1.4->google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (0.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.4.9)
Requirement already satisfied: pillow>=8 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (3.3.1)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.3.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (1.9.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (8.3.1)
Requirement already satisfied: pyarrow>=7.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (22.0.0)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (3.1.46)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.5.4)
Requirement already satisfied: jinja2 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (4.25.0)
Requirement already satisfied: toolz in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (1.1.0)
Requirement already satisfied: colorama in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 7)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (5.0.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.45.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit->-r requirements.txt (line 7)) (0.28.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\nikhil\anaconda3\envs\ann_project\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard->-r requirements.txt (line 5)) (3.3.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [5]:
data=pd.read_csv("churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
#preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [7]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
#encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [9]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [10]:
#OHE
from sklearn.preprocessing import OneHotEncoder

In [11]:
one_hot_geo=OneHotEncoder(sparse_output=False)
geo_encoder=one_hot_geo.fit_transform(data[['Geography']])

In [12]:
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [13]:
one_hot_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [14]:
geo_df=pd.DataFrame(geo_encoder,columns=one_hot_geo.get_feature_names_out(['Geography']))

In [15]:
# Concatenate with original data
data = pd.concat([data.drop('Geography',axis=1), geo_df], axis=1)

In [16]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
#save the encoders and scalers
with open('label_encoder_gender.pkl','wb') as file :
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder.pkl','wb') as file :
    pickle.dump(one_hot_geo,file)

In [18]:
#diviide the data set into dependent and independent feature
X=data.drop('Exited',axis=1)
y=data['Exited']

#split the data into train and test set
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)
# Convert all inputs to float32
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

#scale these features
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [48]:
x_train

array([[ 0.3564997 ,  0.9132475 , -0.65578586, ...,  1.0015011 ,
        -0.5794672 , -0.576388  ],
       [-0.20389777,  0.9132475 ,  0.29493847, ..., -0.9985011 ,
         1.7257231 , -0.576388  ],
       [-0.96147215,  0.9132475 , -1.4163654 , ..., -0.9985011 ,
        -0.5794672 ,  1.7349424 ],
       ...,
       [ 0.8650085 , -1.0949934 , -0.08535128, ...,  1.0015011 ,
        -0.5794672 , -0.576388  ],
       [ 0.15932281,  0.9132475 ,  0.39001092, ...,  1.0015011 ,
        -0.5794672 , -0.576388  ],
       [ 0.47065476,  0.9132475 ,  1.1505904 , ..., -0.9985011 ,
         1.7257231 , -0.576388  ]], dtype=float32)

In [20]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [21]:
##ANN Implementation
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

import datetime

WARNING:tensorflow:From C:\Users\NIKHIL\anaconda3\envs\ann_project\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [22]:
# Build ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),  # HL1 connected to input layer
    Dense(32, activation='relu'),                                     # HL2
    Dense(1, activation='sigmoid')                                     # Output layer
])

WARNING:tensorflow:From C:\Users\NIKHIL\anaconda3\envs\ann_project\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)

In [25]:
#compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\NIKHIL\anaconda3\envs\ann_project\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [41]:
##set up the tensorboard
log_dir = "logs/fit_" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [42]:
##setup early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',
                                      patience=5,
                                      restore_best_weights=True)

In [43]:
history = model.fit(
    x_train, y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[tensorboard_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3267 - accuracy: 0.8648 - val_loss: 0.3421 - val_accuracy: 0.8580
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3257 - accuracy: 0.8601 - val_loss: 0.3440 - val_accuracy: 0.8585
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3240 - accuracy: 0.8658 - val_loss: 0.3446 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3226 - accuracy: 0.8640 - val_loss: 0.3392 - val_accuracy: 0.8625
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3208 - accuracy: 0.8646 - val_loss: 0.3414 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3193 - accuracy: 0.8670 - val_loss: 0.3379 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3174 - accuracy: 0.8666 - val_loss: 0.3375 - val_accuracy: 0.8605
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3174 - accuracy: 0.8673 - val_loss: 0.3388 - val_accuracy: 0.8595
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3146 - accuracy: 0.8687 - val_loss: 0.3416 - val_accuracy: 0.8560
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3133 - accuracy: 0.8690 - val_loss: 0.3394 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3107 - accuracy: 0.8689 - val_loss: 0.3482 - val_accuracy: 0.8580
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3105 - accuracy: 0.8698 - val_loss: 0.3400 - val_accuracy: 0.8610

In [44]:
model.save('model.h5')

C:\Users\NIKHIL\anaconda3\envs\ann_project\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [46]:
##load tensorboard extension
%reload_ext tensorboard
%tensorboard --logdir logs --port 6008

In [36]:
import os
os.listdir("logs")

['.ipynb_checkpoints',
 'fit',
 'fit_20260106-165356',
 'fit_20260106-165416',
 'fit_20260106-170352']

In [ ]:
##load the pickle file